DataEngDP203DataFactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataEngDP203DataFactory"
		},
		"DestBlobStorageDP203_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DestBlobStorageDP203'"
		},
		"SrcBlobStorageDP203_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SrcBlobStorageDP203'"
		},
		"AzureADFsqlDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureADFsqlDB'"
		},
		"DP203ADFKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://azdp203kv.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DestBlobStorageDP203')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('DestBlobStorageDP203_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcBlobStorageDP203')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('SrcBlobStorageDP203_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DP203ADFKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('DP203ADFKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_jph')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DestBlobStorageDP203",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ItemInfo",
						"folderPath": "ItemInfoFolder",
						"container": "adfdestinationblob"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DestBlobStorageDP203')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_jph')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SrcBlobStorageDP203",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "test",
						"container": "foradfpipeline"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "sku",
						"type": "String"
					},
					{
						"name": "stock",
						"type": "String"
					},
					{
						"name": "unit_size",
						"type": "String"
					},
					{
						"name": "unit_size_type",
						"type": "String"
					},
					{
						"name": "unit_quantity",
						"type": "String"
					},
					{
						"name": "bundle_size",
						"type": "String"
					},
					{
						"name": "bundle_price",
						"type": "String"
					},
					{
						"name": "bundle_unit_price",
						"type": "String"
					},
					{
						"name": "brand",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "unit_price",
						"type": "String"
					},
					{
						"name": "full_promo_info",
						"type": "String"
					},
					{
						"name": "url",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "timestamp",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SrcBlobStorageDP203')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureADFsqlDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureADFsqlDB_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "DP203ADFKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "dp203adftestsvrpwd"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DP203ADFKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureADFsqlDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "country",
						"type": "varchar"
					},
					{
						"name": "city",
						"type": "varchar"
					},
					{
						"name": "name",
						"type": "varchar"
					},
					{
						"name": "sku",
						"type": "varchar"
					},
					{
						"name": "stock",
						"type": "varchar"
					},
					{
						"name": "unit_size",
						"type": "varchar"
					},
					{
						"name": "unit_size_type",
						"type": "varchar"
					},
					{
						"name": "unit_quantity",
						"type": "varchar"
					},
					{
						"name": "bundle_size",
						"type": "varchar"
					},
					{
						"name": "bundle_price",
						"type": "varchar"
					},
					{
						"name": "bundle_unit_price",
						"type": "varchar"
					},
					{
						"name": "brand",
						"type": "varchar"
					},
					{
						"name": "price",
						"type": "varchar"
					},
					{
						"name": "unit_price",
						"type": "varchar"
					},
					{
						"name": "full_promo_info",
						"type": "varchar"
					},
					{
						"name": "url",
						"type": "varchar"
					},
					{
						"name": "category",
						"type": "varchar"
					},
					{
						"name": "timestamp",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ItemInfo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureADFsqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_jph')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_CSV",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "foradfpipeline/test/"
							},
							{
								"name": "Destination",
								"value": "adfdestinationblob//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "sku",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "stock",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "unit_size",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "unit_size_type",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "unit_quantity",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "bundle_size",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "bundle_price",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "bundle_unit_price",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "brand",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 12
										}
									},
									{
										"source": {
											"name": "price",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 13
										}
									},
									{
										"source": {
											"name": "unit_price",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 14
										}
									},
									{
										"source": {
											"name": "full_promo_info",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 15
										}
									},
									{
										"source": {
											"name": "url",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 16
										}
									},
									{
										"source": {
											"name": "category",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 17
										}
									},
									{
										"source": {
											"name": "timestamp",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 18
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_jph",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_jph",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyToSQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_CSV",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"ordinal": 1
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 2
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 3
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 4
										},
										"sink": {
											"name": "sku",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 5
										},
										"sink": {
											"name": "stock",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 6
										},
										"sink": {
											"name": "unit_size",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 7
										},
										"sink": {
											"name": "unit_size_type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 8
										},
										"sink": {
											"name": "unit_quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 9
										},
										"sink": {
											"name": "bundle_size",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 10
										},
										"sink": {
											"name": "bundle_price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 11
										},
										"sink": {
											"name": "bundle_unit_price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 12
										},
										"sink": {
											"name": "brand",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 13
										},
										"sink": {
											"name": "price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 14
										},
										"sink": {
											"name": "unit_price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 15
										},
										"sink": {
											"name": "full_promo_info",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 16
										},
										"sink": {
											"name": "url",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 17
										},
										"sink": {
											"name": "category",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"ordinal": 18
										},
										"sink": {
											"name": "timestamp",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_jph",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-14T11:17:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_jph')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_jph')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		}
	]
}